<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="//res.layui.com/layui/dist/css/layui.css" media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <script src="../static/layui/layui.js"></script>

    <script src="/static/build/layui.js"></script>
    <title>CTW_LT报表</title>
    <STYLE>
        .msglist{
            width: 80%;
            margin: auto;
            text-align: center;
            margin-top: 135px;
        }
        th{
            text-align: center;

        }
        .th1{
            width: 36px;
        }.th2{
            width: 151px;
                 }
        .th3{
            width: 191px;
        }
        .th4{
            width: 92px
        }
        .th5{
            width: 92px;
        }
        .th6 {
            width: 93px;
        }
        .th7{
            width: 92px;
        }.th8{
            width: 84px;
                 }
        .th9{
            width: 93px;
        }
        .th10{
            width: 85px;
        }

    </STYLE>
</head>
<body>
{# {{ begindate }}#}
{#        {{ enddate }}#}
<div style="position: fixed;top: 0px ;width: 100% ;height: 14%;background-image: url('../static/pic/20191212163406.png')  ;background-size:100%;background-position-x:center;background-position-y:center;
background-repeat:no-repeat ; " >

<h1 style=" text-align: center"> 双源 CTW_LT 报表</h1 >
    <script>
        var myDate = new Date()
        let yea = myDate.getFullYear()
        let mon = myDate.getMonth()
        {#let msg#}
        layui.use('laydate', function () {
            var laydate = layui.laydate;

            //执行一个laydate实例
            //年月选择器
            laydate.render({
                elem: '#test1'
                , type: 'date',

                {#min:'{{oldtime}}'#}
                {#value:''#}
                 done: function (value, date, endDate) {
                    // alert(value)
                    console.log(value); //得到日期生成的值，如：2017-08-18
                   let test1 = document.getElementById('test1')
                     test1.innerText=value
                }


            });

             laydate.render({
                elem: '#test2'
                , type: 'date',

                  done: function (value, date, endDate) {
                    // alert(value)
                    console.log(value); //得到日期生成的值，如：2017-08-18
                    let test2 = document.getElementById('test2')
                     test2.innerText=value
                }

                {#min:'{{oldtime}}'#}

            });



            {#laydate.render({#}
            {#    elem: '#test1' //指定元素#}
            {#     ,theme: '#grid'#}
            {#,min: '2019-06-13'#}
            {#    , done: function (value, date, endDate) {#}
            {#        // alert(value)#}
            {#        console.log(value); //得到日期生成的值，如：2017-08-18#}
            {#        msg =value#}
            {#        console.log(date); //得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}#}
            {#        console.log(endDate); //得结束的日期时间对象，开启范围选择（range: true）才会返回。对象成员同上。#}
            {#        msggess=document.getElementById('msggess')#}
            {#        msggess.innerText=msg#}
            {#    }#}
            {#{);#}


        });

    </script>
    <div style="margin: auto ;text-align: center ">
            <form  method="get">
    <div style="margin-left: 10%"> <!-- 注意：这一层元素并不是必须的 -->
            <h3 style="display: inline-block; font-size: 18px"><span>开始时间</span></h3>
            <input style="display: inline;width: 250px" type="text" class="layui-input" id="test1"
                   name="begindate" autocomplete="off">
            <h3 style="display: inline-block; font-size: 18px"><span>结束时间</span></h3>
            <input style="display: inline;width: 250px" type="text" class="layui-input" id="test2"
                   name="enddate" autocomplete="off">

            <button class="btn btn-primary">确定</button>
            </div>
<div style="width: 100% ;left: 0px;margin-left: 10%">
<table class="table table-bordered table-hover"  style="width: 80%"  >
    <tr class="table-bordered" style=" background-color: #00FFFF">
        <th class="th1">序号</th>
        <th class="th2">订单类型</th>
        <th class="th3">生产周期</th>
        <th class="th4">双源一厂</th>
        <th class="th5">双源二厂</th>
        <th class="th6">双源五厂</th>
        <th class="th7">防水车间</th>
        <th class="th8">射出车间</th>
        <th class="th9">自动化车间</th>
        <th class="th10">双源八场</th>

    </tr>
</table>
</div>
            {#            <span id="msg1" style="font-size: 25px">&nbsp;&nbsp;&nbsp;&nbsp;当前日期</span><span id="msggess"></span>#}


</form>
    </div>

</div>
{#    <form  method="get">#}
{#    <div> <!-- 注意：这一层元素并不是必须的 -->#}
{#            #}
{#            <button class="btn btn-primary">确定</button>#}
{##}
            {#            <span id="msg1" style="font-size: 25px">&nbsp;&nbsp;&nbsp;&nbsp;当前日期</span><span id="msggess"></span>#}
{##}
{#        </div>#}
{#</form>#}


{#{{ msg_list }}#}




<div class="msglist">
<table class="table table-bordered table-hover"   >

     {% for foo in msg_list %}
        <tr>
            <td>{{ foo.0 |default:''}}</td>
            <td>{{ foo.2 |default:''}}</td>
            <td>{{ foo.3 |default:''}}</td>
            <td>{{ foo.4 |default:''}}</td>
            <td>{{ foo.5 |default:''}}</td>
            <td>{{ foo.6 |default:''}}</td>
            <td>{{ foo.7 |default:''}}</td>
            <td>{{ foo.8 |default:''}}</td>
            <td>{{ foo.9 |default:''}}</td>
            <td>{{ foo.10 |default:''}}</td></tr>
     {% endfor %}
     


</table>
</div>
</body>

 <script>


                               let test1 = document.getElementById('test1')
                    let test2 = document.getElementById('test2')

                test1.value= "{{ begindate }}";
                {#console.log(test1.innerText)#}
                test2.value="{{ enddate }}";
                            {#console.log(test2.innerText)#}
        </script>

</html>