<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Title</title>
           <script src="js/echarts.js"></script>
<style>

 .table-body{width:100%; height:800px;overflow-y:scroll;}
 .table-head table,.table-body table{width:100%;}
 .table-body table tr:nth-child(2n+1){background-color:#f2f2f2;}
</style>
</head>
<body><!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div class="row pt-3">	<center>

			<object type="application/x-shockwave-flash" style="outline:none;" data="https://cdn.abowman.com/widgets/dog/dog.swf?3?" width="264" height="198"><param name="movie" value="http://cdn.abowman.com/widgets/dog/dog.swf?3?"><param name="AllowScriptAccess" value="always"><param name="wmode" value="opaque"><param name="bgcolor" value="FFFFFF"></object>


</center>
</div>
</body>
</html>