<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="//res.layui.com/layui/dist/css/layui.css" media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <script src="../static/layui/layui.js"></script>

    <script src="/static/build/layui.js"></script>
    <style>
        .td1{
            width: 46px;
        }
        .td2{width: 47px;
        }
        .td3{
            width: 90px;
        }
        .td4{
            width: 120px;
        }
        .td5{
            width: 140px;
        }
        .td6{
            width: 100px;
        }
        .td7{
            width: 110px;
        }
        .td8{
            width: 130px;
        }
        .td9{
            width: 100px;
        }
        .td10{
            width: 140px;
        }
        .red1{
            background-color: red;
        }
        .gureen{
            background-color: #00F7DE;
        }
    </style>
    <script>
        var myDate = new Date()
        let yea = myDate.getFullYear()
        let mon = myDate.getMonth()
        {#let msg#}
        layui.use('laydate', function () {
            var laydate = layui.laydate;

            //执行一个laydate实例
            //年月选择器
            laydate.render({
                elem: '#test1'
                , type: 'month',
                {#min:'{{oldtime}}'#}
                {#value:''#}

            });


            {#laydate.render({#}
            {#    elem: '#test1' //指定元素#}
            {#     ,theme: '#grid'#}
            {#,min: '2019-06-13'#}
            {#    , done: function (value, date, endDate) {#}
            {#        // alert(value)#}
            {#        console.log(value); //得到日期生成的值，如：2017-08-18#}
            {#        msg =value#}
            {#        console.log(date); //得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}#}
            {#        console.log(endDate); //得结束的日期时间对象，开启范围选择（range: true）才会返回。对象成员同上。#}
            {#        msggess=document.getElementById('msggess')#}
            {#        msggess.innerText=msg#}
            {#    }#}
            {#{);#}


        });

    </script>
    <SCRIPT>
    window.onload=function () {
           let sc8 =document.getElementsByClassName('sc8')

    for(i=0;i<sc8.length;i++){
        if (sc8[i].innerText=='0.0'){
            sc8[i].innerText=''
        }
    }
    }

</SCRIPT>
    <title>产能总报表</title>
</head>
<body>
<div  style="background-color: white ;position: fixed ;width: 100%">
    <h1 style="position:relative;left: 30%">双驰企业{{times }}月各厂人均产能表</h1>
<div style="margin: auto; position: relative ;left: 30%">
    <form action="" method="post">
        {% csrf_token %}
        <div> <!-- 注意：这一层元素并不是必须的 -->
            <h3 style="display: inline-block; font-size: 18px"><span>请选择年月</span></h3>
            <input style="display: inline;width: 250px" type="text" class="layui-input" id="test1"
                   name="text1" autocomplete="off">

            <button class="btn btn-primary">确定</button>

            {#            <span id="msg1" style="font-size: 25px">&nbsp;&nbsp;&nbsp;&nbsp;当前日期</span><span id="msggess"></span>#}

        </div>
    </form>

</div>
     <a  href="{% url 'listdownload' %}" class="btn btn-success" type="button" style="position: absolute;float: left;top: 40px;left: 70%">下载当月数据</a>
              <Br>

</div>
<div style=" width: 80%;text-align: center ; margin: auto; padding-top: 137px">
    <table class="table table-bordered table-hover">
        {#      <p >{{oldtime }}</p>#}
        <tr style=" border: 1px black; background-color: #00FFFF">
            <th>序号</th>
            <th>公司</th>
            <th>部门</th>
            <th>换算后产能(双)</th>
            <th>打卡折合后人数/月</th>
            <th>申请工时/月</th>
            <th>上班总工时/月</th>
            <th>人均产能/天/人</th>
            <th>电脑车比重</th>
            <th>各厂总人均产能</th>
        </tr>
        <div>
            {% for row1 in shuangchilist %}
                <tr>
                    <td  class="td1">{{ forloop.counter }}</td>
                    <td class="td2">{{ row1.0 }}</td>
                    <td class="td3">{{ row1.1 }}</td>
                    <td class="td4">{{ row1.2 }}</td>
                    <td class="td5">{{ row1.3 }}</td>
                    <td class="td6">{{ row1.4 }}</td>
                    <td class="td7">{{ row1.5 }}</td>
                    <td class="td8">{{ row1.6 }}</td>
                    <td class="td9">{{ row1.7 |default:'' }}</td>
                    <td class="sc8 td10">{{ row1.8 |default:''}}</td>
                </tr>
            {% endfor %}

        </div>

    </table>
    <table class="table table-bordered table-hover">
        <br>

        <div>


            {% for row2 in shuanglianlist %}
                <tr >
                    <td class="slnum td1">  {{ forloop.counter}}</td>
                    <td class="td2">{{ row2.0 }}</td>
                    <td class="td3">{{ row2.1 }}</td>
                    <td class="td4">{{ row2.2 }}</td>
                    <td class="td5">{{ row2.3 }}</td>
                    <td class="td6">{{ row2.4 }}</td>
                    <td class="td7">{{ row2.5 }}</td>
                    <td class="td8">{{ row2.6 }}</td>
                    <td class="td9">{{ row2.7 |default:'' }}</td>
                    <td class="sc8 td10">{{ row2.8 |default:''}}</td>
                </tr>
            {% endfor %}

        </div>
        <script>
            let slnum =document.getElementsByClassName('slnum')
            for (i=0;i<slnum.length;i++){
                slnum[i].innerText=parseInt(slnum[i].innerText)+parseInt({{ numlis.0}})
            }

        </script>
    </table>
        <table class="table table-bordered table-hover">
            <br>

        <div>
            {% for row2 in shuangyuanlist %}
                <tr  class="table-hover hover">
                    <td  class="synum td1">{{ forloop.counter }}</td>
                    <td class="td2">{{ row2.0 }}</td>
                    <td class="td3">{{ row2.1 }}</td>
                    <td class="td4">{{ row2.2 }}</td>
                    <td class="td5">{{ row2.3 }}</td>
                    <td class="td6">{{ row2.4 }}</td>
                    <td class="td7">{{ row2.5 }}</td>
                    <td class="td8">{{ row2.6 }}</td>
                    <td class="td9">{{ row2.7 |default:'' }}</td>
                    <td class="sc8 td10">{{ row2.8 |default:''}}</td>
                </tr>
            {% endfor %}

        </div>
           <script>
            let synum =document.getElementsByClassName('synum')
            for (i=0;i<synum.length;i++){
                synum[i].innerText=parseInt(synum[i].innerText)+parseInt({{ numlis.0}})+parseInt({{ numlis.1}})
            }

        </script>

    </table>
       <table class="table table-bordered table-hover">
            <br>


       <div>
            {% for row2 in xiangchanglist %}
                <tr class="table-hover hover">
                    <td class="xcnum td1">{{ forloop.counter }}</td>
                    <td class="td2">{{ row2.0 }}</td>
                    <td class="td3"> {{ row2.1 }}</td>
                    <td class="td4">{{ row2.2 }}</td>
                    <td class="td5">{{ row2.3 }}</td>
                    <td class="td6">{{ row2.4 }}</td>
                    <td class="td7">{{ row2.5 }}</td>
                    <td class="td8">{{ row2.6 }}</td>
                    <td class="td9">{{ row2.7 |default:'' }}</td>
                    <td class="sc8 td10">{{ row2.8 |default:''}}</td>
                </tr>
            {% endfor %}
        </div>
            <script>
            let xcnum =document.getElementsByClassName('xcnum')
            for (i=0;i<xcnum.length;i++){
                xcnum[i].innerText=parseInt(xcnum[i].innerText)+parseInt({{ numlis.0}})+parseInt({{ numlis.1}})+parseInt({{ numlis.2}})
            }

        </script>



    </table>
</div>



<script>
 {#  把百分数转成小数    #}
    function toPoint(percent){
    var str=percent.replace("%","");
    str= str/100;
    return str;
}
    let td9 =document.getElementsByClassName('td9')
    for(i=0;i<td9.length;i++){
        console.log(toPoint(td9[i].innerText))
        if(toPoint(td9[i].innerText)>= 0.2){
             td9[i].classList.add('red1')
        }
    }


    let td10 = document.getElementsByClassName('td10')
        for(i=0;i<td10.length;i++){
        {#console.log(toPoint(td10[i].innerText))#}
        if(td10[i].innerText>= 29){
             td10[i].classList.add('gureen')
        }
    }

</script>
</body>
</html>