<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>双源产能汇总</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="//res.layui.com/layui/dist/css/layui.css" media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <script src="../static/layui/layui.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->

    <SCRIPT src="../static/js/echarts.js"></SCRIPT>
    <style>
        .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
            padding: 7px;
        }

        .red1 {
            color: red;
        }

        .aaa {
            display: none;
        }

        th {
            font-size: 20px;
        }

        h2 {
            font-weight: bold;
        }

        td {
            font-size: 18px;

        }

        #boxs {
            width: 870px;
            height: 550px;
            background-color: white;
        {#position: fixed;#}{#float: left;#}{#top: 100px;#}{#left: 150px;#}

        }

        .modal-header {
            padding: 14px;
            border-bottom: 0px solid #333;
        }

        .modal-footer {
            padding: 15px;
            text-align: right;
            border-top: 0px solid #20b2aa;
        }

        .progress-bar {
            float: left;
            width: 20px;
            height: 101%;
            font-size: 22px;
            line-height: 19px;
            color: white;
            text-align: center;
        }

        #topboxs {
            width: 840px;
            height: 200px;
            background-color: white;
            z-index: -1;

        }

        #underboxs {
            width: 870px;
            height: 380px;
            background-color: white;
        }

        .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr {
            height: 20px;
            text-align: center;
            margin: auto;

        }

        .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
            height: 30px;
            margin: auto;
            text-align: center;
            font-size: 25px;
        }

        .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > td {
            margin: 2px;
            font-size: 26px;
        }

        .progress {
            height: 17px;
            margin: 10px;
        }

        .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
            padding: 0px;
        }

        .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
            border: 1px solid black;
        }

        .btn-group-lg > .btn, .btn-lg {
            padding: 10px 16px;
            font-size: 13px;
            line-height: 1.3333333;
            border-radius: 6px;
        }

    </style>
</head>
<body>
{#{{ all_plan_list.chengxing1 }}#}
<div style="position: fixed;float: left ;background-color: white ;width: 100%">
    <h2 style="margin: auto ;text-align: center"> 双源{{ year }} 年{{ yue }}月
        产能汇总</h2>


    <div style="margin-left: 38%">
        <form method="get">
            {% csrf_token %}
            <div style=" float: left">


            </div>
            <div>
                <input style="display: inline;width: 250px" type="text" class="layui-input" id="test1"
                       name="months" autocomplete="off">

                {#                <button class="btn btn-primary">确定</button>#}
                <button class="btn btn-success">
                    提交
                </button>
                {#                     <span style="font-size: 15px" id="mon">{{ mon }}</span>#}
                <span> &nbsp;&nbsp; {{ nowyear }}年{{ nowmonth }}月 为最新数据</span>
            </div>

        </form>
        <div style="position: absolute;float: left ; width: 20px; height: 20px;

    left: 80%;
    top: 30%;
">
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"
                    style="height: 38px">
                显示图表
            </button>
        </div>
        <div style="margin-left: -60%"><span style="font-size: 20px ;color: red ;"> 注:目标产量为系统的排产量,非各厂副总提供的月目标产量</span>
            <div style="position: absolute;float: right ;background-color: red ;width: 15px;height: 15px ;margin-top: 2px">
            </div>
            <div style="position: absolute;float: right ;font-size: 15px ;left: 25px">
                <span>未达标数据</span>
            </div>

        </div>

    </div>
    <script>
        var myDate = new Date()
        let yea = myDate.getFullYear()
        let mon = myDate.getMonth()
        {#let msg#}
        layui.use('laydate', function () {
            var laydate = layui.laydate;

            laydate.render({
                elem: '#test1', //指定元素
                type: 'month',
                position: 'fixed',
                ready: function (date) { // 控件在打开时触发，回调返回一个参数：初始的日期时间对象
                    initYear = date.year;
                    console.log(initYear)
                },

                change: function (value, date, endDate) { // 年月日时间被切换时都会触发。回调返回三个参数，分别代表：生成的值、日期时间对象、结束的日期时间对象
                    var selectYear = date.year;
                    var differ = selectYear - initYear;
                    if (differ == 0) {
                        if ($(".layui-laydate").length) {
                            $("#test1").val(value);
                            $(".layui-laydate").remove();
                        }
                    }
                    initYear = selectYear;
                }

                {#change : function(value, date, endDate) { // 年月日时间被切换时都会触发。回调返回三个参数，分别代表：生成的值、日期时间对象、结束的日期时间对象#}
                {##}
                {#	var selectYear = date.year;#}
                {#	var differ = selectYear - initYear;#}
                {#	var laydate1 =document.getElementsByClassName('layui-laydate')#}
                {#   var test1 =document.getElementById('test1')#}
                {#	console.log(differ)#}
                {#	if (differ == 0) {#}
                {#		if (laydate1.length) {#}
                {#		    alert(laydate1.length)#}
                {#			test1.innerText=value;#}
                {##}
                {#			laydate1.remove();#}
                {#		}#}
                {#	}#}
                {#	initYear = selectYear;#}


            });


        });

    </script>
    <h2 id="h333">{{ list }}</h2>

</div>
{#<script>#}
{#    let mon = document.getElementById('mon')#}
{#    window.onload(msg1());#}
{##}
{#    function msg1() {#}
{#        setTimeout('mon.classList.add("aaa")', 3000)#}
{#    }#}
{#</script>#}
{#<br>#}


{# 弹跳窗口#}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width: 900px ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="z-index: 9999 "><span
                        aria-hidden="true">&times;</span>
                </button>
                <div id="boxs" style="">


                    <div id="topboxs">
                        <div id="main" style="width: 840px;height:200px;"></div>


                    </div>


                    <div id="underboxs">
                        <table class="table table-bordered table-hover table-striped" style="width: 90% ;text-align: center;margin: auto">
                            <tr>
                                <td>车间</td>
                                <td>当月目标</td>
                                <td>当月实际完成</td>
                                <td>月完成率</td>
                                <td>累计实际完成</td>
                            </tr>
                            {% for all_wwb in all_plan_list.chengxing1 %}
                                <tr>
                                    <td>{{ all_wwb.plantname }}</td>
                                    <td id="mubiao{{ forloop.counter }}" class="mubiaonum">{{ all_wwb.msg.2 }}</td>
                                    <td id="benchang{{ forloop.counter }}" class="benchangnum">{{ all_wwb.msg.3 }}</td>


                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar   progress-bar-striped active"
                                                 role="progressbar" aria-valuenow="60"
                                                 aria-valuemin="0" aria-valuemax="100" style="width: 60%;"
                                                 id="bili{{ forloop.counter }}">
                                                60%
                                            </div>
                                        </div>
                                    </td>
                                    <td>200</td>
                                    <script>
                                        function keepTwoDecimalFull(num) {
                                            var result = parseFloat(num);
                                            if (isNaN(result)) {
                                                alert('传递参数错误，请检查！');
                                                return false;
                                            }
                                            result = Math.round(num * 100) / 100;
                                            var s_x = result.toString();
                                            var pos_decimal = s_x.indexOf('.');
                                            if (pos_decimal < 0) {
                                                pos_decimal = s_x.length;
                                                s_x += '.';
                                            }
                                            while (s_x.length <= pos_decimal + 2) {
                                                s_x += '0';
                                            }
                                            return s_x;
                                        }

                                        function toPercent(point) {
                                            var str = Number(point * 100).toFixed(2);
                                            str += "%";
                                            return str;
                                        }



                                        let mubiao{{ forloop.counter }} = document.getElementById('mubiao{{ forloop.counter }}')
                                        let benchang{{ forloop.counter }} = document.getElementById('benchang{{ forloop.counter }}')
                                        let bili{{ forloop.counter }} = document.getElementById('bili{{ forloop.counter }}')
                                        let baifen{{ forloop.counter }} = benchang{{ forloop.counter }}.innerText / mubiao{{ forloop.counter }}.innerText

                                        let twobaifen{{ forloop.counter }} = toPercent(baifen{{ forloop.counter }})
                                        {#let xiaoshu{{ forloop.counter }} =toPoint(twobaifen{{ forloop.counter }})#}
                                        {#alert(twobaifen{{ forloop.counter }})#}

                                        bili{{ forloop.counter }}.innerText = twobaifen{{ forloop.counter }};
                                        bili{{ forloop.counter }}.style.width = twobaifen{{ forloop.counter }};

                                    </script>
                                </tr>
                            {% endfor %}


                            {% for all_wwb in all_plan_list.chengxing2 %}
                                <tr>
                                    <td>{{ all_wwb.plantname }}</td>
                                    <td id="mubiao2{{ forloop.counter }}" class="mubiaonum">{{ all_wwb.msg.2 }}</td>
                                    <td id="benchang2{{ forloop.counter }}" class="benchangnum">{{ all_wwb.msg.3 }}</td>


                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar   progress-bar-striped active"
                                                 role="progressbar" aria-valuenow="60"
                                                 aria-valuemin="0" aria-valuemax="100" style="width: 60%;"
                                                 id="bili2{{ forloop.counter }}">
                                                60%
                                            </div>
                                        </div>
                                    </td>
                                    <td>200</td>



                                    <script>





                                        function toPoint(percent){
    var str=percent.replace("%","");

    return str;
}


                                        



                                        function keepTwoDecimalFull(num) {
                                            var result = parseFloat(num);
                                            if (isNaN(result)) {
                                                alert('传递参数错误，请检查！');
                                                return false;
                                            }
                                            result = Math.round(num * 100) / 100;
                                            var s_x = result.toString();
                                            var pos_decimal = s_x.indexOf('.');
                                            if (pos_decimal < 0) {
                                                pos_decimal = s_x.length;
                                                s_x += '.';
                                            }
                                            while (s_x.length <= pos_decimal + 2) {
                                                s_x += '0';
                                            }
                                            return s_x;
                                        }

                                        function toPercent(point) {
                                            var str = Number(point * 100).toFixed(2);
                                            str += "%";
                                            return str;
                                        }

                                        let mubiao2{{ forloop.counter }} = document.getElementById('mubiao2{{ forloop.counter }}')
                                        let benchang2{{ forloop.counter }} = document.getElementById('benchang2{{ forloop.counter }}')
                                        let bili2{{ forloop.counter }} = document.getElementById('bili2{{ forloop.counter }}')

                                        let baifen2{{ forloop.counter }} = benchang2{{ forloop.counter }}.innerText / mubiao2{{ forloop.counter }}.innerText

                                        let twobaifen2{{ forloop.counter }} = toPercent(baifen2{{ forloop.counter }})


                                        bili2{{ forloop.counter }}.innerText = twobaifen2{{ forloop.counter }}
                                        bili2{{ forloop.counter }}.style.width = twobaifen2{{ forloop.counter }}
                                    </script>
                                </tr>
                            {% endfor %}

                            <tr>
                                <td>合计</td>
                                <td id="tbhj">2</td>
                                <SCRIPT>
                                    let tbhj =document.getElementById('tbhj')
                                    let mubiaonum =document.getElementsByClassName('mubiaonum')
                                    let nummubiaonum=0
                                    for (i=0;i<mubiaonum.length;i++){
                                        nummubiaonum=nummubiaonum+parseFloat(mubiaonum[i].innerText)

                                    }
                                    tbhj.innerText=nummubiaonum

                                </SCRIPT>
                                <td id="tbhjwc">3</td>
                                   <SCRIPT>
                                    let tbhjwc =document.getElementById('tbhjwc')
                                    let benchangnum =document.getElementsByClassName('benchangnum')
                                    let numbenchangnum=0
                                    for (i=0;i<benchangnum.length;i++){
                                        numbenchangnum=numbenchangnum+parseFloat(benchangnum[i].innerText)

                                    }
                                    tbhjwc.innerText=numbenchangnum

                                </SCRIPT>
                                <td>
                                        <div class="progress">
                                            <div class="progress-bar   progress-bar-striped active"
                                                 role="progressbar" aria-valuenow="60"
                                                 aria-valuemin="0" aria-valuemax="100" style="width: 60%;"
                                                 id="zhjbili">
                                                60%
                                            </div>
                                        </div>

                                    <script>
                                             let zhjbili =document.getElementById('zhjbili')
                                        zhjbili.innerText=toPercent(numbenchangnum/nummubiaonum)
                                        zhjbili.style.width = twobaifen{{ forloop.counter }};
                                    </script>
                                </td>
                                <td>5</td>
                            </tr>
                        </table>
                        <script type="text/javascript">
                            // 基于准备好的dom，初始化echarts实例

                            var myChart = echarts.init(document.getElementById('main'));
                            {#var bili1 =document.getElementById('bili1')#}





                            // 指定图表的配置项和数据
                            option = {
                                title: {
                                    text: '月度完成率'
                                },
                                tooltip: {
                                    trigger: 'axis',
                                    formatter: '{b0}<br/>{a0}: {c0}%<br />'
                                },
                                legend: {
                                    data: ['完成率']
                                },
                                grid: {
                                    left: '3%',
                                    right: '4%',
                                    bottom: '3%',
                                    containLabel: true,

                                    x: 20,
                                },
                                toolbox: {
                                    feature: {
                                        saveAsImage: {}
                                    }
                                },


                                xAxis: {
                                    type: 'category',
                                    boundaryGap: false,
                                    data: ['', '一厂', '二厂', '自动化', '防水', '五厂', '射出', '八厂']
                                },
                                yAxis: {
                                    type: 'value',
                                    axisLabel: {show: true, interval: 'auto', formatter: '{value}%'},
                                    show: true
                                },
                                series: [
                                    {
                                        name: '完成率',
                                        type: 'line',
                                        stack: 'a',
                                        {#data: ['', bili1.innerText, bili2.innerText, bili3.innerText, bili4.innerText, bili21.innerText, bili22.innerText, bili23.innerText],#}
                                        data: ['', toPoint(bili1.innerText), toPoint(bili2.innerText),  toPoint(bili3.innerText),  toPoint(bili4.innerText),  toPoint(bili21.innerText),  toPoint(bili22.innerText),
                                             toPoint(bili23.innerText)],
                                        itemStyle: {
                                            normal: {
                                                label: {
                                                    show: true,
                                                    formatter: '{c0}%',
                                                }
                                            }


                                        }
                                    }
                                ],
                                grid: {
                                    x: 50,
                                    y: 35,

                                },
                            };


                            // 使用刚指定的配置项和数据显示图表。
                            myChart.setOption(option);
                        </script>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
<div style="padding-top: 105px ;width: 80%;margin:auto">
    <h3 style="font-weight: bolder">成型 </h3>

    <table border="1" class="table table-hover" style="margin: auto;text-align: center">
        <tr class="" style="background-color: #aacedf">
            <td>生产部</td>
            <td colspan="6">生产一部</td>
            <td colspan="4">生产二部</td>

        </tr>
        <tr class="" style="background-color: #d9edf7">
            <td>厂别</td>
            <td>全厂合计</td>
            <td>一厂</td>
            <td>二厂</td>
            <td>自动化</td>
            <td>防水</td>
            <td>一部合计</td>
            <td>五厂</td>
            <td>射出</td>
            <td>八厂</td>
            <td>二部合计</td>

        </tr>
        <tr>

            <td>目标</td>
            <td id="zongheji" class="qcheji mubiaomsg"></td>
            <script>
                let zongheji = document.getElementById('zongheji')
                zongheji.innerText = {{ zuoheji.1 }}+
                {{ youheji.1 }}

            </script>
            {% for foo in  all_plan_list.chengxing1 %}


                <td class="ccc{{ forloop.counter }} mubiaomsg">{{ foo.msg.2 |default:'' }}</td>



            {% endfor %}
            <td class="zxheji ybheji mubiaomsg">{{ zuoheji.1|default:'' }}</td>

            {% for foo in  all_plan_list.chengxing2 %}


                <td class="xxx{{ forloop.counter }} zxheji mubiaomsg">{{ foo.msg.2 |default:'' }}</td>



            {% endfor %}
            <td class="zxheji ebheji mubiaomsg">{{ youheji.1|default:'' }}</td>


        </tr>


        <tr>

            <td>本厂</td>
            <td id="zongheji1" class="qcheji bcmsg"></td>
            <script>
                let zongheji1 = document.getElementById('zongheji1')
                zongheji1.innerText = {{ zuoheji.0 }}+
                {{ youheji.0 |default:''}}

            </script>
            {% for foo in  all_plan_list.chengxing1 %}


                <td class="ccc{{ forloop.counter }} zxheji bcmsg">{{ foo.msg.3 |default:'' }}</td>



            {% endfor %}
            <td class="zxheji ybheji bcmsg">{{ zuoheji.0 |default:'' }}</td>

            {% for foo in  all_plan_list.chengxing2 %}


                <td class="xxx{{ forloop.counter }} zxheji bcmsg">{{ foo.msg.3 |default:'' }}</td>



            {% endfor %}
            <td class="ebheji bcmsg">{{ youheji.0|default:'' }}</td>


        </tr>
    <script>

        let mubiaomsg =document.getElementsByClassName('mubiaomsg')
        let bcmsg =document.getElementsByClassName('bcmsg')
             window.onload = function () {
            for (i = 0; i < mubiaomsg.length; i++) {
                console.log(mubiaomsg[i].innerHTML,bcmsg[i].innerHTML)
                if (Number(bcmsg[i].innerText) <= Number(mubiaomsg[i].innerText)) {
                    bcmsg[i].classList.add('red1')
                }
            }

        }


    </script>
        <tr>
            <td>企业内外包</td>
            <td id="zongheji3" class="qcheji"></td>
            <script>
                let zongheji3 = document.getElementById('zongheji3')
                zongheji3.innerText = {{ nwbzuohji.0|default:'' }}+
                {{ nwbyouhji.0|default:'' }}

            </script>

            {% for foo in  all_nwb_list.chengxing1 %}


                <td class="ccc{{ forloop.counter }} zxheji">  {{ foo.msg.2|default:'' }}
                </td>


            {% endfor %}
            <td class="zxheji ybheji"> {{ nwbzuohji.0|default:'' }}</td>
            {% for foo in  all_nwb_list.chengxing2 %}


                <td class="xxx{{ forloop.counter }} zxheji">  {{ foo.msg.2|default:'  ' }}
                </td>


            {% endfor %}
            <td class="zxheji ebheji">{{ nwbyouhji.0 |default:'' }}</td>
        <tr>


        <tr>
            <td>企业外外包</td>
            <td id="zongheji2" class="qcheji"></td>
            <script>
                let zongheji2 = document.getElementById('zongheji2')
                zongheji2.innerText = {{ wwbzuohji.0|default:'' }}+
                {{ wwbyouhji.0|default:'' }}

            </script>

            {% for foo in  all_wwb_list.chengxing1 %}


                <td class="ccc{{ forloop.counter }}">  {{ foo.msg.2|default:'' }}
                </td>


            {% endfor %}
            <td class="ybheji">{{ wwbzuohji.0|default:'' }}</td>
            {% for foo in  all_wwb_list.chengxing2 %}


                <td class="xxx{{ forloop.counter }}">  {{ foo.msg.2|default:'  ' }}
                </td>


            {% endfor %}
            <td class="ebheji">{{ wwbyouhji.0|default:'' }}</td>
        <tr>
            {#    <tr style="display: none">#}
            {#        <td style="background-color: #ffb3a7 ;font-weight: bolder">合计</td>#}
            {#        <td id="zhhejijieguo"></td>#}
            {#        <td id="hjccc1">2</td>#}
            {#        <td id="hjccc2"> 3</td>#}
            {#        <td id="hjccc3">4</td>#}
            {#        <td id="hjccc4">5</td>#}
            {#        <td id="zhybheji">6</td>#}
            {#        <td id="hjxxx1">7</td>#}
            {#        <td id="hjxxx2">8</td>#}
            {#        <td id="hjxxx3">9</td>#}
            {#        <td id="zhebheji">10</td>#}
            {#    </tr>#}
        <tr>
            <td style="background-color: white;" class="cyy">差异</td>
            <td id="cyqchj" class="cyy"></td>
            <td id="yccy" class="cyy"></td>
            <td id="eccy" class="cyy"></td>
            <td id="zdhcy" class="cyy"></td>
            <td id="fscy" class="cyy"></td>
            <td id="ybcy" class="cyy"></td>
            <td id="wccy" class="cyy"></td>
            <td id="sccy" class="cyy"></td>
            <td id="bccy" class="cyy"></td>
            <td id="ebcy" class="cyy"></td>
        </tr>
    </table>


    <script>

        {#总合计#}
        let qcheji = document.getElementsByClassName('qcheji')
        {#alert(qcheji)#}
        let qchejinum = 0
        for (i = 0; i < qcheji.length; i++) {
            qchejinum = Number(qchejinum) + Number(qcheji[i].innerText)
        }
        {#alert(qchejinum)+#}
        {#let zhhejijieguo = document.getElementById('zhhejijieguo')#}
        {#zhhejijieguo.innerText = qchejinum#}


        {#一厂#}
        let ccc1 = document.getElementsByClassName('ccc1')
        {#alert(qcheji)#}
        let ccc1num = 0
        for (i = 0; i < ccc1.length; i++) {
            ccc1num = Number(ccc1num) + Number(ccc1[i].innerText)
        }
        let ycmb = ccc1[0].innerText
        {#alert(ycmb)#}
        let ycbc = ccc1[1].innerText
        {#alert(ycbc)#}
        let yccy = document.getElementById('yccy')
        yccy.innerText = Number(ycbc) - Number(ycmb)

        {#alert(ccc1num)#}
        let hjccc1 = document.getElementById('hjccc1')
        {#alert(ccc1num)#}
        {#hjccc1.innerText = ccc1num#}


        {#二厂#}
        let ccc2 = document.getElementsByClassName('ccc2')
        {#alert(qcheji)#}
        let ccc2num = 0
        for (i = 0; i < ccc2.length; i++) {
            ccc2num = Number(ccc2num) + Number(ccc2[i].innerText)
        }
        let ecmb = ccc2[0].innerText
        let ecbc = ccc2[1].innerText
        let eccy = document.getElementById('eccy')
        eccy.innerText = Number(ecbc) - Number(ecmb)


        {#alert(ccc1num)#}
        let hjccc2 = document.getElementById('hjccc2')
        {#hjccc2.innerText = ccc2num#}


        {#自动化#}
        let ccc3 = document.getElementsByClassName('ccc3')
        {#alert(qcheji)#}
        let ccc3num = 0
        for (i = 0; i < ccc3.length; i++) {
            ccc3num = Number(ccc3num) + Number(ccc3[i].innerText)
        }

        let zdhmb = ccc3[0].innerText
        let zdhbc = ccc3[1].innerText
        let zdhcy = document.getElementById('zdhcy')
        zdhcy.innerText = Number(zdhbc) - Number(zdhmb)


        {#alert(ccc1num)#}
        let hjccc3 = document.getElementById('hjccc3')
        {#hjccc3.innerText = ccc3num#}


        {#防水#}
        let ccc4 = document.getElementsByClassName('ccc4')
        {#alert(qcheji)#}
        let ccc4num = 0
        for (i = 0; i < ccc4.length; i++) {
            ccc4num = Number(ccc4num) + Number(ccc4[i].innerText)
        }
        let fsmb = ccc4[0].innerText
        let fsbc = ccc4[1].innerText
        let fscy = document.getElementById('fscy')
        fscy.innerText = Number(fsbc) - Number(fsmb)
        {#alert(ccc1num)#}
        let hjccc4 = document.getElementById('hjccc4')
        {#hjccc4.innerText = ccc4num#}


        {#一部综合#}
        let ybheji = document.getElementsByClassName('ybheji')
        {#alert(qcheji)#}
        let ybhejinum = 0
        for (i = 0; i < ybheji.length; i++) {
            ybhejinum = Number(ybhejinum) + Number(ybheji[i].innerText)
        }

        let ybmb = ybheji[0].innerText
        let ybbc = ybheji[1].innerText
        let ybcy = document.getElementById('ybcy')
        ybcy.innerText = Number(ybbc) - Number(ybmb)

        {#alert(ccc1num)#}
        let zhybheji = document.getElementById('zhybheji')
        {#zhybheji.innerText = ybhejinum#}


        {#五厂#}
        let xxx1 = document.getElementsByClassName('xxx1')
        {#alert(qcheji)#}
        let xxx1num = 0
        for (i = 0; i < xxx1.length; i++) {
            xxx1num = Number(xxx1num) + Number(xxx1[i].innerText)
        }

        let wcmb = xxx1[0].innerText
        let wcbc = xxx1[1].innerText
        let wccy = document.getElementById('wccy')
        wccy.innerText = Number(wcbc) - Number(wcmb)


        {#alert(ccc1num)#}
        let hjxxx1 = document.getElementById('hjxxx1')
        {#hjxxx1.innerText = xxx1num#}


        {#射出#}
        let xxx2 = document.getElementsByClassName('xxx2')
        {#alert(qcheji)#}
        let xxx2num = 0
        for (i = 0; i < xxx2.length; i++) {
            xxx2num = Number(xxx2num) + Number(xxx2[i].innerText)
        }
        let scmb = xxx2[0].innerText
        let scbc = xxx2[1].innerText
        let sccy = document.getElementById('sccy')
        sccy.innerText = Number(scbc) - Number(scmb)


        {#alert(ccc1num)#}
        let hjxxx2 = document.getElementById('hjxxx2')
        {#hjxxx2.innerText = xxx2num#}


        {#八厂#}
        let xxx3 = document.getElementsByClassName('xxx3')
        {#alert(qcheji)#}
        let xxx3num = 0
        for (i = 0; i < xxx3.length; i++) {
            xxx3num = Number(xxx3num) + Number(xxx3[i].innerText)
        }

        let bcmb = xxx3[0].innerText
        let bcbc = xxx3[1].innerText
        let bccy = document.getElementById('bccy')
        bccy.innerText = Number(bcbc) - Number(bcmb)

        {#alert(ccc1num)#}
        let hjxxx3 = document.getElementById('hjxxx3')
        {#hjxxx3.innerText = xxx3num#}


        {#二部综合#}
        let ebheji = document.getElementsByClassName('ebheji')
        {#alert(qcheji)#}
        let ebhejinum = 0
        for (i = 0; i < ebheji.length; i++) {
            ebhejinum = Number(ebhejinum) + Number(ebheji[i].innerText)
        }


        let ebmb = ebheji[0].innerText
        let ebbc = ebheji[1].innerText
        let ebcy = document.getElementById('ebcy')
        ebcy.innerText = Number(ebbc) - Number(ebmb)


        {#alert(ccc1num)#}
        let zhebheji = document.getElementById('zhebheji')
        {#zhebheji.innerText = ebhejinum#}

    </script>
    <script>
        let zonghejiccc = document.getElementById('zongheji')
        let zongheji1ccc = document.getElementById('zongheji1')
        {#alert(zonghejiccc)#}
        let cyqchj = document.getElementById('cyqchj')
        let cyzhj = Number(zongheji1ccc.innerText) - Number(zonghejiccc.innerText)
        {#alert(cyzhj)#}
        cyqchj.innerText = cyzhj


    </script>


    <h3 style="font-weight: bolder">针车</h3>
    <table border="1" class="table table-hover" style="text-align: center;margin: auto" >
        <tr class="" style="background-color: #aacedf">
            <td>生产部</td>
            <td colspan="6">生产一部</td>
            <td colspan="4">生产二部</td>

        </tr>
        <tr class="" style="background-color: #d9edf7" >
            <td>厂别</td>
            <td>全厂合计</td>
            <td>一厂</td>
            <td>二厂</td>
            <td>自动化</td>
            <td>防水</td>
            <td>一部合计</td>
            <td>五厂</td>
            <td>射出</td>
            <td>八厂</td>
            <td>二部合计</td>

        </tr>
        {#    <tr >#}
        {##}
        {#        <td>目标</td>#}
        {#        <td id="zongheji1111" class="qcheji1111 qcheji1"></td>#}
        {#        <script>#}
        {#            let zongheji111 = document.getElementById('zongheji1111')#}
        {#            zongheji111.innerText =  {{ zczuoheji1.1 }}+#}
        {#            {{ zcyouheji1.1 }}#}
        {##}
        {#        </script>#}
        {#        {% for foo in  zcall_plan_list.chengxing1 %}#}
        {##}
        {##}
        {#            <td class="zcccc{{ forloop.counter }}">{{ foo.msg.3 |default:'' }}</td>#}
        {##}
        {##}
        {##}
        {#        {% endfor %}#}
        {#        <td class="zxheji1 ybheji1">{{ zczuoheji1.1|default:'' }}</td>#}
        {##}
        {#        {% for foo in  zcall_plan_list.chengxing2 %}#}
        {##}
        {##}
        {#            <td class="zcxxx{{ forloop.counter }} zxheji1">{{ foo.msg.3 |default:'' }}</td>#}
        {##}
        {##}
        {##}
        {#        {% endfor %}#}
        {#        <td class="zxheji1 zcebheji1">{{zcyouheji1.1|default:'' }}</td>#}
        {##}
        {##}
        {#    </tr>#}


        <tr>

            <td>本厂</td>
            <td id="zongheji11" class="qcheji1"></td>
            <script>
                let zongheji11 = document.getElementById('zongheji11')
                zongheji11.innerText = {{ zczuoheji1.0 }}+
                {{ zcyouheji1.0 |default:''}}

            </script>
            {% for foo in  zcall_plan_list.chengxing1 %}


                <td class="zcccc{{ forloop.counter }} zxheji1">{{ foo.msg.2 |default:'' }}</td>



            {% endfor %}
            <td class="zxheji1 ybheji1">{{ zczuoheji1.0 |default:'' }}</td>

            {% for foo in  zcall_plan_list.chengxing2 %}


                <td class="zcxxx{{ forloop.counter }}" class="zxheji1">{{ foo.msg.2 |default:'' }}</td>



            {% endfor %}
            <td class="zcebheji1">{{ zcyouheji1.0|default:'' }}</td>


        </tr>
        <tr>
            <td>企业内外包</td>
            <td id="zongheji31" class="qcheji1"></td>
            <script>
                let zongheji31 = document.getElementById('zongheji31')
                zongheji31.innerText = {{ zcnwbzuohji1.0|default:'' }}+
                {{ zcnwbyouhji1.0|default:'' }}

            </script>

            {% for foo in  zcall_nwb_list.chengxing1 %}


                <td class="zcccc{{ forloop.counter }} zxheji1">  {{ foo.msg.2|default:'' }}
                </td>


            {% endfor %}
            <td class="zxheji1 ybheji1"> {{ zcnwbzuohji1.0|default:'' }}</td>
            {% for foo in  zcall_nwb_list.chengxing2 %}


                <td class="zcxxx{{ forloop.counter }} zxheji1">  {{ foo.msg.2|default:'  ' }}
                </td>


            {% endfor %}
            <td class="zxheji1 zcebheji1">{{ zcnwbyouhji1.0 |default:'' }}</td>
        <tr>


        <tr>
            <td>企业外外包</td>
            <td id="zongheji21" class="qcheji1"></td>
            <script>
                let zongheji21 = document.getElementById('zongheji21')
                zongheji21.innerText = {{ zcwwbzuohji1.0|default:'' }}+
                {{ zcwwbyouhji1.0|default:'' }}

            </script>

            {% for foo in  zcall_wwb_list.chengxing1 %}


                <td class="zcccc{{ forloop.counter }}">  {{ foo.msg.2|default:'' }}
                </td>


            {% endfor %}
            <td class="ybheji1">{{ zcwwbzuohji1.0|default:'' }}</td>
            {% for foo in  zcall_wwb_list.chengxing2 %}


                <td class="zcxxx{{ forloop.counter }}">  {{ foo.msg.2|default:'  ' }}
                </td>


            {% endfor %}
            <td class="zcebheji1">{{ zcwwbyouhji1.0|default:'' }}</td>
        <tr>
        <tr>
            <td style="background-color: white ;">合计</td>
            <td id="zhhejijieguo1"></td>
            <td id="zchjccc1">2</td>
            <td id="zchjccc2"> 3</td>
            <td id="zchjccc3">4</td>
            <td id="zchjccc4">5</td>
            <td id="zhybheji1">6</td>
            <td id="zchjxxx1">7</td>
            <td id="zchjxxx2">8</td>
            <td id="zchjxxx3">9</td>
            <td id="zczhebheji">10</td>
        </tr>
        {#    <tr>#}
        {#        <td style="background-color: #20b2aa;font-weight: bolder" class="cye">差异</td>#}
        {#        <td id="zccyqchj1" class="cye"></td>#}
        {#        <td id="zcyccy1" class="cye"></td>#}
        {#        <td id="zceccy1" class="cye"></td>#}
        {#        <td id="zczdhcy1" class="cye"></td>#}
        {#        <td id="zcfscy1" class="cye"></td>#}
        {#        <td id="ybcy1" class="cye"></td>#}
        {#        <td id="zcwccy1" class="cye"></td>#}
        {#        <td id="zcsccy1" class="cye"></td>#}
        {#        <td id="zcbccy1" class="cye"></td>#}
        {#        <td id="zcebcy1" class="cye"></td>#}
        {#    </tr>#}
    </table>

    <script>

        {#总合计#}
        let qcheji1 = document.getElementsByClassName('qcheji1')
        {#alert(qcheji)#}
        let qchejinum1 = 0
        for (i = 0; i < qcheji1.length; i++) {
            qchejinum1 = Number(qchejinum1) + Number(qcheji1[i].innerText)
        }
        {#alert(qchejinum)+#}
        let zhhejijieguo1 = document.getElementById('zhhejijieguo1')
        zhhejijieguo1.innerText = qchejinum1


        {#一厂#}
        let zcccc1 = document.getElementsByClassName('zcccc1')
        {#alert(qcheji)#}
        let ccc1num1 = 0
        for (i = 0; i < zcccc1.length; i++) {
            ccc1num1 = Number(ccc1num1) + Number(zcccc1[i].innerText)
        }
        let zcycmb1 = zcccc1[0].innerText
        let zcycbc1 = zcccc1[1].innerText
        {#let zcyccy1 = document.getElementById('zcyccy1')#}
        {#zcyccy1.innerText = Number(zcycbc1) - Number(zcycmb1)#}

        {#alert(ccc1num)#}
        let zchjccc11 = document.getElementById('zchjccc1')
        zchjccc11.innerText = ccc1num1


        {#二厂#}
        let zcccc2 = document.getElementsByClassName('zcccc2')
        {#alert(qcheji)#}
        let ccc2num1 = 0
        for (i = 0; i < zcccc2.length; i++) {
            ccc2num1 = Number(ccc2num1) + Number(zcccc2[i].innerText)
        }
        let zcecmb1 = zcccc2[0].innerText
        let zcecbc1 = zcccc2[1].innerText
        let zceccy1 = document.getElementById('zceccy1')
        {#zceccy1.innerText = Number(zcecbc1) - Number(zcecmb1)#}


        {#alert(ccc1num)#}
        let zchjccc2 = document.getElementById('zchjccc2')
        zchjccc2.innerText = ccc2num1


        {#自动化#}
        let zcccc3 = document.getElementsByClassName('zcccc3')
        {#alert(qcheji)#}
        let ccc3num1 = 0
        for (i = 0; i < zcccc3.length; i++) {
            ccc3num1 = Number(ccc3num1) + Number(zcccc3[i].innerText)
        }

        let zczdhmb1 = zcccc3[0].innerText
        let zczdhbc1 = zcccc3[1].innerText
        let zczdhcy1 = document.getElementById('zczdhcy1')
        {#zczdhcy1.innerText = Number(zczdhbc1) - Number(zczdhmb1)#}


        {#alert(ccc1num)#}
        let zchjccc3 = document.getElementById('zchjccc3')
        zchjccc3.innerText = ccc3num1


        {#防水#}
        let zcccc4 = document.getElementsByClassName('zcccc4')
        {#alert(qcheji)#}
        let ccc4num1 = 0
        for (i = 0; i < zcccc4.length; i++) {
            ccc4num1 = Number(ccc4num1) + Number(zcccc4[i].innerText)
        }
        let zcfsmb1 = zcccc4[0].innerText
        let zcfsbc1 = zcccc4[1].innerText
        let zcfscy1 = document.getElementById('zcfscy1')
        {#zcfscy1.innerText = Number(zcfsbc1) - Number(zcfsmb1)#}
        {#alert(ccc1num)#}
        let zchjccc4 = document.getElementById('zchjccc4')
        zchjccc4.innerText = ccc4num1


        {#一部综合#}
        let ybheji1 = document.getElementsByClassName('ybheji1')
        {#alert(qcheji)#}
        let ybhejinum1 = 0
        for (i = 0; i < ybheji1.length; i++) {
            ybhejinum1 = Number(ybhejinum1) + Number(ybheji1[i].innerText)
        }

        let ybmb1 = ybheji1[0].innerText
        let ybbc1 = ybheji1[1].innerText
        let ybcy1 = document.getElementById('ybcy1')
        {#ybcy1.innerText = Number(ybbc1) - Number(ybmb1)#}

        {#alert(ccc1num)#}
        let zhybheji1 = document.getElementById('zhybheji1')
        zhybheji1.innerText = ybhejinum1


        {#五厂#}
        let zcxxx1 = document.getElementsByClassName('zcxxx1')
        {#alert(qcheji)#}
        let xxx1num1 = 0
        for (i = 0; i < zcxxx1.length; i++) {
            xxx1num1 = Number(xxx1num1) + Number(zcxxx1[i].innerText)
        }

        let zcwcmb1 = zcxxx1[0].innerText
        let zcwcbc1 = zcxxx1[1].innerText
        let zcwccy1 = document.getElementById('zcwccy1')
        {#zcwccy1.innerText = Number(zcwcbc1) - Number(zcwcmb1)#}


        {#alert(ccc1num)#}
        let zchjxxx1 = document.getElementById('zchjxxx1')
        zchjxxx1.innerText = xxx1num1


        {#射出#}
        let zcxxx2 = document.getElementsByClassName('zcxxx2')
        {#alert(qcheji)#}
        let xxx2num1 = 0
        for (i = 0; i < zcxxx2.length; i++) {
            xxx2num1 = Number(xxx2num1) + Number(zcxxx2[i].innerText)
        }
        let zcscmb1 = zcxxx2[0].innerText
        let zcscbc1 = zcxxx2[1].innerText
        let zcsccy1 = document.getElementById('zcsccy1')
        {#zcsccy1.innerText = Number(zcscbc1) - Number(zcscmb1)#}


        {#alert(ccc1num)#}
        let zchjxxx2 = document.getElementById('zchjxxx2')
        zchjxxx2.innerText = xxx2num1


        {#八厂#}
        let zcxxx3 = document.getElementsByClassName('zcxxx3')
        {#alert(qcheji)#}
        let xxx3num1 = 0
        for (i = 0; i < zcxxx3.length; i++) {
            xxx3num1 = Number(xxx3num1) + Number(zcxxx3[i].innerText)
        }

        let zcbcmb1 = zcxxx3[0].innerText
        let zcbcbc1 = zcxxx3[1].innerText
        let zcbccy1 = document.getElementById('zcbccy1')
        {#zcbccy1.innerText = Number(zcbcbc1) - Number(zcbcmb1)#}

        {#alert(ccc1num)#}
        let zchjxxx3 = document.getElementById('zchjxxx3')
        zchjxxx3.innerText = xxx3num1


        {#二部综合#}
        let zcebheji1 = document.getElementsByClassName('zcebheji1')
        {#alert(qcheji)#}
        let zcebhejinum1 = 0
        for (i = 0; i < zcebheji1.length; i++) {
            zcebhejinum1 = Number(zcebhejinum1) + Number(zcebheji1[i].innerText)
        }

        {#alert(zcebhejinum1)#}
        let zczhebheji = document.getElementById('zczhebheji')
        zczhebheji.innerText = zcebhejinum1
        let zcebmb1 = zcebheji1[0].innerText
        let zcebbc1 = zcebheji1[1].innerText
        let zcebcy1 = document.getElementById('zcebcy1')
        {#zcebcy1.innerText = Number(zcebbc1) - Number(zcebmb1)#}


    </script>
    <script>
        let zonghejiccc1 = document.getElementById('zongheji1111')
        let zongheji1ccc1 = document.getElementById('zongheji11')
        {#alert(zonghejiccc)#}
        let cyqchj1 = document.getElementById('zccyqchj1')
        {#let cyzhj1 = Number(zongheji1ccc1.innerText) - Number(zonghejiccc1.innerText)#}
        {#alert(cyzhj)#}
        {#cyqchj1.innerText = cyzhj1#}


    </script>

    <script>
        let cye = document.getElementsByClassName('cye')
        let cyy = document.getElementsByClassName('cyy')



    </script>
    <h3 style=" font-weight: bolder">组底产量</h3>
    <table class="table table-hover table-bordered" style="font-size: 18px ;color: black">
        <tr class="info" style="font-size: 18px;color: black">
            <td style="font-size: 18px;color: black">组合总产量</td>
            <td style="font-size: 18px;color: black">外发组合</td>
            <td style="font-size: 18px;color: black">无组合</td>
            <td style="font-size: 18px;color: black">底加工</td>
        </tr>
        <tr style="font-size: 18px;color: black">
            {% for foo in zdcl %}
                <td style="font-size: 18px;color: black">{{ foo |default:'' }}</td>
            {% endfor %}

        </tr>
    </table>
</div>
<script>
            let   jdd =document.getElementsByClassName('progress-bar')
                                 for(i=0;i<jdd.length;i++) {
                                     console.log(toPercent(jdd[i].innerText))
                                if (toPoint(jdd[i].innerText)>100){
                                    jdd[i].classList.add('progress-bar-danger')
                                } else {
                                     jdd[i].classList.add('progress-bar-success')
                                }
                                 }

</script>
</body>
</html>